@import 'core/styles/variables.scss';

$map-list-width: 400px;

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  //  height: 450px;
  //  width: 450px;

  .leaflet-popup {
    @include border-radius(0);

    .marker-popover {
      color: $mono-dark;
    }

    .marker-popover--lead {
      margin-bottom: 15px;
    }
  }
}

.leaflet-popup-content-wrapper {
  width: 340px !important;
  min-width: 340px;
}

.map-fetching {
  > .leaflet-container {
    cursor: wait !important;
    -webkit-cursor: wait !important;
    -moz-shadow: wait !important;
    > .leaflet-control-container {
      cursor: wait !important;
      -webkit-cursor: wait !important;
      -moz-shadow: wait !important;
    }
  }
}

.nd-dialogue-container {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 300px;
  right: 150px;
  overflow-y: auto;
  background: WHITE;

  box-shadow: $z1-shadow;
  -webkit-box-shadow: $z1-shadow;
  -moz-box-shadow: $z1-shadow;
}

.nd-label-interact {
  color: $brand-primary-shadow !important;
}

.nd-label-interact:hover {
  text-decoration: underline;
}

.nd-date-stamp {
  color: $mono-light;
}

.map-date-filters {
  position: fixed;
  top: 10px;
  left: 10px;
}

.map-noise-filters {
  position: fixed;
  left: 68px;
  bottom: 10px;
}

.map-category-filters {
  position: fixed;
  left: 10px;
  top: 70px;

  width: 50px;
  height: 300px;

  .category-filter {
    position: relative;
    cursor: pointer;

    width: 40px;
    min-width: 40px;

    height: 40px;
    min-height: 40px;
  }
}

.pin-cards {
  pointer-events: none;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 130px;
  opacity: 1;
  visibility: visible;

  width: $map-list-width;
  overflow-y: scroll;

  &.pin-cards--collapsed {
    opacity: 0 !important;
    visibility: hidden;
  }

  @include transition(all 0.2s ease);
}

.map-list {
  pointer-events: none;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;

  width: $map-list-width;
}

.map-list-controls {
  pointer-events: auto;
  position: fixed;
  right: 0;
  width: $map-list-width;
  background: $mono;

  border-bottom: 2px solid $mono;

  box-shadow: $z2-shadow;
  -webkit-box-shadow: $z2-shadow;
  -moz-box-shadow: $z2-shadow;

  .nd-input {
    height: 20px;
    width: 85% !important; /* override */
  }

  .map-list-collapse-btn {
    cursor: pointer;
    color: $mono;
    background: $mono-light;
    text-decoration: none;

    &.map-list-collapse-btn--active {
      text-decoration: line-through;
    }

    &:active {
      background: $mono-lighter;
    }
  }
}

.pin-card {
  pointer-events: auto;
  opacity: .9;

  border-bottom: 2px solid $mono-lighter;

  box-shadow: $z2-shadow;
  -webkit-box-shadow: $z2-shadow;
  -moz-box-shadow: $z2-shadow;

  .pin-card__header {
    color: $white;
  }

  .pin-card__header--active {
    background: #D2A8DB;
    color: $mono-darker;
  }

  .pin-card__body--active {

  }
  .pin-card__body {
    background: $white;
    color: $mono-dark;

    > div:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  .card-link {
    color: $link-color;
  }

  .card-category-label {
    color: $white;
    @include border-radius($base-border-radius);
  }
}

.text-inverse {
  color: $white !important;
}

