<div class="map-category-filters">
    <div ng-repeat="filter in categoryFilters | orderBy:'-weight'" class="nd-btn-group">
        <button class="nd-btn--sm"
                ng-class="filter.toggled ? filter.btn : 'nd-btn-mono'"
                ng-click="toggleCategoryFilter(filter, $event)">
            <i class="fa" ng-class="filter.icon"></i>
        </button>
    </div>
</div>


<div map-list class="map-list">
    <div class="map-list-controls">
        <div nd-s-row>
            <!--<div nd-s-col="7" nd-t-font="h6 small-caps" nd-s-pt="2" class="text-inverse">-->
            <!--<span nd-s-pl="2"></span>-->
            <!--</div>-->
            <div nd-s-col="12">
                <div ng-repeat="listTab in listTabs" class="nd-btn-group" nd-s-col="6">
                    <button class="nd-btn--sm"
                            ng-class="activeListTab.key === listTab.key ? listTab.btn : 'nd-btn-mono'"
                            ng-click="setActiveListTab(listTab)">
                        <i class="fa" ng-class="listTab.icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div nd-s-row>
            <input ng-model="cardSearch" class="nd-input" placeholder="Search pins by title."
                   ng-change="search(cardSearch)" type="text"/>
        </div>
        <div nd-s-row nd-s-pxy="sm"
             class="map-list-collapse-btn"
             nd-t-font="h6 center small-caps" ng-click="collapseList()"
             ng-class="{'map-list-collapse-btn--active': listCollapsed}">
            Viewing {{activeCards.length || 0}} pins.
        </div>
    </div>

    <div class="pin-cards" ng-class="{'pin-cards--collapsed': listCollapsed}">
        <div ng-if="activeListTab.key === 'pins'">
            <!--ACTIVE LIST ITEM-->
            <div class="pin-card" nd-s-row ng-if="centerMarker.$$id && Card.$$cards[centerMarker.$$id] && centerMarker.category != $scope.activeCardCategory">
                <div class="pin-card__header pin-card__header--active" nd-s-pxy="sm">
                    <span nd-t-font="md-heading">{{Card.$$cards[centerMarker.$$id].category | uppercase}}</span>
                    <!--<span nd-t-font="sm-heading" nd-s-col="4">{{Card.$$cards[centerMarker.$$id].headerInfo}}</span>-->
                </div>

                <div class="pin-card__body" nd-s-px="sm" nd-s-pb="4" nd-s-pt="2">
                    <div nd-s-row>
                        <span nd-t-font="h5 bold small-caps">Details</span>
                    </div>
                    <div ng-repeat="(key, value) in Card.$$cards[centerMarker.$$id].bodyInfo" nd-s-row nd-s-pl="1">
                        <span nt-c-text="mono-light" nd-t-font="small-caps h6">{{::value.title}}: </span>
                        <span nd-t-font="p">{{value.data}}</span>
                    </div>

                </div>
            </div>

            <!--LIST-->
            <div ng-repeat="card in activeCards | orderBy:'category' | filter: cardSearch" class="pin-card"
                 nd-s-row ng-if="card.id != centerMarker.$$id">
                <div class="pin-card__header" ng-style="{'background':card.color}"
                     ng-class="{'pin-card__header--active': card.id == Marker.$$prevMarkerId}" nd-s-pxy="sm">
                    <span nd-t-font="md-heading">{{::card.category | uppercase}}</span>

                </div>

                <div class="pin-card__body" nd-s-px="sm" nd-s-pb="4" nd-s-pt="2">
                    <div nd-s-row>
                        <span nd-t-font="h5 bold small-caps">Details</span>
                    </div>
                    <div ng-repeat="(key, value) in card.bodyInfo" nd-s-row nd-s-pl="1">
                        <span nt-c-text="mono-light" nd-t-font="small-caps h6">{{value.title}}: </span>
                        <span nd-t-font="p">{{value.data}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="activeListTab.key === 'cameras'">

        </div>
    </div>
</div>