<div ng-if="Card" ng-class="{'map-fetching': Card.$$fetching}">
    <leaflet id="map"
             center="centerMarker"
             defaults="defaults"
             markers="markers"></leaflet>

    <!--card list fix pos-->
    <div ui-view></div>
</div>

